<<<<<<< HEAD
body {
    background: linear-gradient(45deg, #85b9d1, #636fa4);
}

h1 {
    font-family: 'Lora', serif;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 20px; 
}

table {
    border: 5px solid #4a1883;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
}

table td {
    border-bottom: 1px solid  #4a1883c2;
    border-right: 1px solid #4a1883c2;
    padding: 10px 5px;
}

table th {
    border-bottom: 1px solid #4a1883c2;
    border-right: 1px solid #4a1883c2;
}

.sorting_desc {
    background-image: url("arrow_down.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
     
} 
.sorting_asc {
    background-image: url("arrowup.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    
}
.sorting {
    min-width: 150px;
   
}

.dataTables_wrapper {
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.paginate_button {
    padding-right: 5px;
    text-decoration: underline;
    color: #4a1883c2;
    cursor: pointer;
}

.dataTables_filter {
    margin-top: 7px;
    margin-bottom: 10px;
}

.dataTables_length {
    float: right;
    position: relative;
    top: 10px;
=======
h1 {
    font-family: 'Lora', serif;
    font-size: 34px;
    text-align: center;
    color: black;
    margin-bottom: 20px; 
}

table {
    border: 5px solid blueviolet;
    font-size: 24px;
    margin-right: auto;
    margin-left: auto;
}

table td {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding: 10px 5px;
}

table th {
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.sorting_desc {
    background-image: url("arrow_down.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
     
} 
.sorting_asc {
    background-image: url("arrowup.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    
}
.sorting {
    min-width: 150px;
   
}

.dataTables_wrapper {
    margin-right: auto;
    margin-left: auto;
    display: table;
}

.paginate_button {
    padding-right: 5px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.dataTables_filter {
    margin-top: 7px;
    margin-bottom: 10px;
}

.dataTables_length {
    float: right;
    position: relative;
    top: 10px;
>>>>>>> 5434c4cde66ead3e460ebc6d9cc04277bfc8086b
    }